<div class="col-lg-3 well">
	<div>
    <!-- Button trigger modal -->
    <a data-toggle="modal" href="#create-class-Modal" class="btn btn-primary btn-lg">Create new class</a>

    <!-- create-class-Modal -->
    <div class="modal fade" id="create-class-Modal">
    	<div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
           <h4 class="modal-title">Create new class</h4>
         </div>
         <div class="modal-body">
           <form id='createClass' action="/admin/createClass" method="POST">
             <div class="form-group">
              <label>網址英文(ex:nstu.edu.tw/xxx/)</label>
              <input type="text" name="_id" class="form-control" placeholder="ex:introduction">
            </div>
            <div class="form-group">
              <label>中文名稱</label>
              <input type="text" name="title" class="form-control" placeholder="ex:系所簡介">
            </div>
          </form>	
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button id="createClassBtn" form="createClass" type="submit" class="btn btn-primary">Create</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <p></p>

  <!-- Button trigger modal -->
  <a data-toggle="modal" href="#create-page-Modal" class="btn btn-primary btn-lg">Create new page</a>

  <!-- create-page-Modal -->
  <div class="modal fade" id="create-page-Modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Create new page</h4>
        </div>
        <div class="modal-body">
          <form id="createPage" action="/admin/createPage" method="POST">
            <div class="form-group">
              <label>主分類</label>
              <select name="classList">
                <% for(var i=0; i<pages.length; i++) { %>
                <option value="<%= pages[i]._id %>"><%= pages[i].title %>
                </option>
                <% } %>
              </select> 
            </div>
            <div class="form-group">
              <label>網址英文(ex:ntu.edu.tw/xxx/yyy)</label>
              <input type="text" name="_id" class="form-control" placeholder="ex:history">
            </div>
            <div class="form-group">
              <label>中文名稱</label>
              <input type="text" name="title" class="form-control" placeholder="ex:系所簡介">
            </div>
          </form>  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button id="createPageBtn" type="submit" class="btn btn-primary" form="createPage" >Create</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

<p></p>

</div>
<ul class="nav nav-list">
 <% for(var i=0; i<pages.length; i++) { %>
 <li>
  <label class="tree-toggle nav-header">
   <%= pages[i].title %>
 </label>
 <ul class="nav nav-list tree">
   <% for(var j=0; j<pages[i].subPages.length; j++) { %>
   <li>
    <a class="tree-toggle-nav-content" first="<%= pages[i]._id %>" second="<%= pages[i].subPages[j]._id %>">
     <%= pages[i].subPages[j].title %>
   </a>
 </li>
 <% } %>
</ul>
</li>
<li class="divider"></li>
<% } %>
</ul>
</div>
